<!DOCTYPE html>
<html>
<head>
  <title>Notification</title>  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>  
  <link rel="manifest" href="/manifest.json">
</head>
<body>

<%= yield %>

</body>
</html>
